In [8]:
import pandas as pd

df = pd.read_excel('score.xlsx')
df

  지원번호   이름   학교    키   국어   영어   수학  과학  사회        sw특기
0   1번  강나래  구로고  197   90   85  100  95  85      Python
1   2번  강태원  구로고  184   40   35   50  55  25        Java
2   3번  강호림  구로고  168   80   75   70  80  75  Javascript
3   4번  김수찬  구로고  187   40   60   70  75  80         NaN
4   5번  김재욱  구로고  188   15   20   10  35  10         NaN
5   6번  박동현  단지고  202   80  100   95  85  85          C+
6   7번  박혜정  단지고  188   55   65   45  40  35      PYTHON
7   8번  송근열  단지고  190  100   85   90  94  95          c#

### 단어검색
### 1. start

In [11]:
df_str = pd.DataFrame()
df_str['A'] = ['안녕하세요.','반갑습니다.','다음에 만나요.']
df_str['A'].str.slice(1,3)

0    녕하
1    갑습
2    음에
Name: A, dtype: object

In [18]:
data ={'idx':['안녕하세요.','반갑습니다.','다음에 만나요.']}
df_str = pd.DataFrame(data)

# df_str['idx'].str.slice(1,3)
def d_map(x):
    return x[1:3] # x가 들어오면 [1:3]까지 잘라서 return
df_str['idx'].map(d_map())


df_str['idx'].map(lambda x:x[1:3]) #map 뒤에는 함수가 들어온다

0    녕하
1    갑습
2    음에
Name: idx, dtype: object

In [15]:
a = [1.2, 2.5, 3.7, 4.6]
for i in range(4):
    a[i] = int(a[i])
a

[1, 2, 3, 4]

In [16]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int,a)) #a를 int로 반환해서 다시 돌려줌
a

[1, 2, 3, 4]

In [19]:
#split: 문자열 분리
a_list = ['데이터,분석가','영희,철수,바둑이','국어,영어,수학']
data = {"d_split":a_list}
df_str = pd.DataFrame(data)
s_data = df_str['d_split'].str.split(',') # 배열로 분리되어 리턴
s_data

#replace: 문자열 처리, strip: 공백제거

#startwith: 첫글자 비교

#contains: 문자열 비교, 문자내에 검색한 문자가 있는지 확인

df['이름']

0       [데이터, 분석가]
1    [영희, 철수, 바둑이]
2     [국어, 영어, 수학]
Name: d_split, dtype: object

In [21]:
filt = df['이름'].str.contains('태') # 이름에 '태'가 포함된 자료 찾기
df[filt]

  지원번호   이름   학교    키  국어  영어  수학  과학  사회  sw특기
1   2번  강태원  구로고  184  40  35  50  55  25  Java

In [28]:
# find, index 둘다 문자열 검색 - 있으면 위치값을 리턴
# contains 문자열 검색 - 있는지 없는지 확인 True, False
a = '반갑습니다. 안녕, 여러분의 수고와 노력으로 안녕\
    그렇지만 좋은하루 보내세요 안녕 안녕 안녕 안녕 안녕'
b = 'aaaaaaaaaa.bbbb'
a.index('.') #7
a[a.index('.')+1:] # . 뒤에있는거 다 가져와주세요, 파일이름에서 확장자 가져올 때 사용 가능!!
# b.index('.') #10
a.find('안녕')

7