In [20]:
from sklearn import svm,metrics
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import random
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['font.size'] = 10
matplotlib.rcParams['axes.unicode_minus'] = False

In [21]:
train_csv = pd.read_csv('../mnist/train.csv',header=None)
train_csv.head(2)
tk_csv = pd.read_csv('../mnist/t10k.csv',header=None)
tk_csv.head(2)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
def test(arr):
    output = []
    for i in arr:
        output.append(float(i)/256)
    return output # 0~1사이값

In [23]:
# train, test 데이터 생성
train_input = list(map(test,train_csv.iloc[:,1:].values))
test_input = list(map(test,tk_csv.iloc[:,1:].values))

In [24]:
# apply
def change(x):
    return float(x)/256

train_csv.iloc[0,1] = train_csv.iloc[0,1:].apply(change)


#
for i in range(train_csv.shape[0]):
    train_csv.iloc[i,1:] = train_csv.iloc[i,1:].apply(lambda x:float(x)/256)
    
train_csv.iloc[i,232]

ValueError: Must have equal len keys and value when setting with an iterable

In [27]:
# 1. 데이터 전처리
# target result 데이터 생성 - 제일 앞에 있는 숫자
train_target = train_csv[0].values  # 1001
test_target = tk_csv[0].values      # 501

501

In [26]:
train_csv.iloc[:,1:].values

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)