In [20]:
from sklearn import svm,metrics
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
import random
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['font.size'] = 10
matplotlib.rcParams['axes.unicode_minus'] = False

In [21]:
train_csv = pd.read_csv('../mnist/train.csv',header=None)
train_csv.head(2)
tk_csv = pd.read_csv('../mnist/t10k.csv',header=None)
tk_csv.head(2)

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
def test(arr):
    output = []
    for i in arr:
        output.append(float(i)/256) 
    return output # 0~1사이값, 있는가 없는가 표시만 하기위함

In [23]:
# train, test 데이터 생성
train_input = list(map(test,train_csv.iloc[:,1:].values))
test_input = list(map(test,tk_csv.iloc[:,1:].values))

In [24]:
# apply ???????????????????@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
def change(x):
    return float(x)/256

train_csv.iloc[0,1] = train_csv.iloc[0,1:].apply(change)


#
for i in range(train_csv.shape[0]):
    train_csv.iloc[i,1:] = train_csv.iloc[i,1:].apply(lambda x:float(x)/256)
    
train_csv.iloc[i,232]

ValueError: Must have equal len keys and value when setting with an iterable

In [27]:
# 1. 데이터 전처리
# target result 데이터 생성 - 제일 앞에 있는 숫자
train_target = train_csv[0].values  # 1001
test_target = tk_csv[0].values      # 501

501

In [28]:
# 2. 데이터 학습하기
clf = svm.SVC()
clf.fit(train_input,train_target)

# 3. 데이터 예측하기
pre = clf.predict(test_input)
print('예측: ',pre)

정답:  [7 2 1 0 4 1 4 9 2 9 0 6 9 0 1 5 9 7 3 4 9 6 4 5 4 0 7 4 0 1 3 1 3 4 7 2 7
 1 2 1 1 7 4 2 5 5 1 2 4 4 6 3 5 5 2 0 4 1 9 5 7 8 9 2 7 4 2 4 3 0 7 0 2 7
 1 7 3 7 9 7 9 6 2 7 8 4 7 5 6 1 3 6 9 3 1 4 1 7 6 9 6 0 5 4 9 9 2 1 9 4 8
 7 3 9 7 4 4 4 9 2 5 4 7 6 4 9 0 5 8 5 6 6 5 7 8 1 0 1 6 4 6 7 3 1 7 1 8 2
 0 4 9 9 5 5 1 5 6 0 3 4 4 6 5 4 6 5 4 5 1 4 4 7 2 3 2 7 1 8 1 8 1 8 5 0 8
 9 2 5 0 1 1 1 0 4 0 5 1 6 4 2 3 6 1 1 1 3 9 5 2 9 4 7 9 3 9 0 3 5 7 5 7 2
 2 7 1 2 8 4 1 7 5 3 8 7 7 7 2 2 4 1 5 5 8 4 2 5 0 6 4 2 9 1 9 5 7 7 2 8 2
 0 8 1 7 7 9 1 8 1 5 0 3 0 1 9 9 4 1 8 2 1 2 9 7 5 9 2 6 4 1 5 4 2 9 2 0 4
 0 0 2 8 6 7 1 2 4 0 2 7 4 5 3 0 0 5 1 9 6 5 0 5 7 7 9 3 0 4 2 0 7 1 1 2 1
 5 3 2 9 7 0 6 5 4 1 3 8 1 0 5 1 3 1 5 0 6 1 8 5 1 7 9 4 6 7 2 5 0 6 5 6 3
 7 2 0 8 8 5 9 1 1 4 0 7 3 7 6 1 6 2 1 9 2 8 6 1 9 5 2 5 4 4 2 8 5 9 2 4 5
 0 3 1 7 7 3 7 9 7 1 9 2 1 4 2 9 2 0 4 9 1 4 8 1 8 4 4 9 8 8 3 7 6 0 0 3 5
 8 0 6 4 8 5 3 3 2 3 9 1 2 5 8 0 9 6 6 6 7 8 8 2 7 5 8 9 6 1 8 4 1 2 5 3 1
 9 7 7 4 0 9 9 9 1 0 5 2 3 7 0 9 4 0 6 3]

In [29]:
# 4. 정답률
score = clf.score(test_input,test_target)
print('정답률: ',score)

정답률:  0.8842315369261478