In [4]:
import pandas as pd
filepath = '../z20_data/chipotle.tsv'
df = pd.read_csv(filepath,sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [5]:
# 데이터 정보 간략확인
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [9]:
# 데이터가 숫자인 경우 대략적인 통계정보 보여줌
df.describe()
#order는 뭐.. 통계가 필요친 않음;;
# 컬럼의 타입변경
df['order_id'] = df['order_id'].astype(str)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [20]:
# $ 표시 삭제 item_price, 계산이 필요하기에 float으로 형변환
df['item_price'] = df['item_price'].str.replace("$","").astype(float)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   object
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 180.7+ KB

In [23]:
df.head(30)
# 중복제거 후 가져오기
df['order_id'].unique()
len(df['order_id'].unique()) # 테이블별로 주문은 1834건

1834

In [24]:
df.shape # 메뉴의 주문은 4622건

(4622, 5)

In [28]:
len(df['item_name'].unique()) # 메뉴는 50가지
#.count(): 전체갯수, value_counts(): 컬럼의 내용을 각각 몇개씩인지
item_count = df['item_name'].value_counts() # 메뉴가 몇개 주문되었는지
#zip()과 같은 형태로 value_count()에 2개 컬럼을 1개로 묶어 list저장
list(item_count.items())

[('Chicken Bowl', 726),
 ('Chicken Burrito', 553),
 ('Chips and Guacamole', 479),
 ('Steak Burrito', 368),
 ('Canned Soft Drink', 301),
 ('Steak Bowl', 211),
 ('Chips', 211),
 ('Bottled Water', 162),
 ('Chicken Soft Tacos', 115),
 ('Chips and Fresh Tomato Salsa', 110),
 ('Chicken Salad Bowl', 110),
 ('Canned Soda', 104),
 ('Side of Chips', 101),
 ('Veggie Burrito', 95),
 ('Barbacoa Burrito', 91),
 ('Veggie Bowl', 85),
 ('Carnitas Bowl', 68),
 ('Barbacoa Bowl', 66),
 ('Carnitas Burrito', 59),
 ('Steak Soft Tacos', 55),
 ('6 Pack Soft Drink', 54),
 ('Chips and Tomatillo Red Chili Salsa', 48),
 ('Chicken Crispy Tacos', 47),
 ('Chips and Tomatillo Green Chili Salsa', 43),
 ('Carnitas Soft Tacos', 40),
 ('Steak Crispy Tacos', 35),
 ('Chips and Tomatillo-Green Chili Salsa', 31),
 ('Steak Salad Bowl', 29),
 ('Nantucket Nectar', 27),
 ('Barbacoa Soft Tacos', 25),
 ('Chips and Roasted Chili Corn Salsa', 22),
 ('Izze', 20),
 ('Chips and Tomatillo-Red Chili Salsa', 20),
 ('Veggie Salad Bowl', 18),
 ('Chips and Roasted Chili-Corn Salsa', 18),
 ('Barbacoa Crispy Tacos', 11),
 ('Barbacoa Salad Bowl', 10),
 ('Chicken Salad', 9),
 ('Veggie Soft Tacos', 7),
 ('Carnitas Crispy Tacos', 7),
 ('Veggie Salad', 6),
 ('Carnitas Salad Bowl', 6),
 ('Burrito', 6),
 ('Steak Salad', 4),
 ('Crispy Tacos', 2),
 ('Salad', 2),
 ('Bowl', 2),
 ('Chips and Mild Fresh Tomato Salsa', 1),
 ('Veggie Crispy Tacos', 1),
 ('Carnitas Salad', 1)]