In [46]:
import pandas as pd
filepath = '../z20_data/chipotle.tsv'
df = pd.read_csv(filepath,sep='\t')
df

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [11]:
# 총 주문수량: 1834
df['order_id'].unique() # unique(): 중복제거

array([   1,    2,    3, ..., 1832, 1833, 1834], dtype=int64)

In [12]:
df.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [15]:
# 메뉴별 주문수량 출력
# value_counts(): 컬럼별 데이터 값 갯수를 출력
# sort_values(): 컬럼별 정렬
df['item_name'].value_counts()[:10]
df.groupby('item_name').count()
df.groupby('item_name').count().sort_values('order_id',ascending=False)['order_id'][:10]

item_name
Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Steak Bowl             211
Chips                  211
Bottled Water          162
Chicken Soft Tacos     115
Chicken Salad Bowl     110
Name: order_id, dtype: int64

In [20]:
# items(): 항목과 갯수가 튜플형태로 구성된다
# value_counts로 계산하면 2개를 주문해도 1로 카운트된다;; 갯수 차이가 있을 수 있다.!!!!!!!!!!
list(df['item_name'].value_counts().items())
item_count = df['item_name'].value_counts() # 아이템, 갯수
for i,(val,cnt) in enumerate(item_count.items()):
    print('rank',(i+1),':',val,':',cnt)

rank 1 : Chicken Bowl : 726
rank 2 : Chicken Burrito : 553
rank 3 : Chips and Guacamole : 479
rank 4 : Steak Burrito : 368
rank 5 : Canned Soft Drink : 301
rank 6 : Steak Bowl : 211
rank 7 : Chips : 211
rank 8 : Bottled Water : 162
rank 9 : Chicken Soft Tacos : 115
rank 10 : Chips and Fresh Tomato Salsa : 110
rank 11 : Chicken Salad Bowl : 110
rank 12 : Canned Soda : 104
rank 13 : Side of Chips : 101
rank 14 : Veggie Burrito : 95
rank 15 : Barbacoa Burrito : 91
rank 16 : Veggie Bowl : 85
rank 17 : Carnitas Bowl : 68
rank 18 : Barbacoa Bowl : 66
rank 19 : Carnitas Burrito : 59
rank 20 : Steak Soft Tacos : 55
rank 21 : 6 Pack Soft Drink : 54
rank 22 : Chips and Tomatillo Red Chili Salsa : 48
rank 23 : Chicken Crispy Tacos : 47
rank 24 : Chips and Tomatillo Green Chili Salsa : 43
rank 25 : Carnitas Soft Tacos : 40
rank 26 : Steak Crispy Tacos : 35
rank 27 : Chips and Tomatillo-Green Chili Salsa : 31
rank 28 : Steak Salad Bowl : 29
rank 29 : Nantucket Nectar : 27
rank 30 : Barbacoa Soft Tacos : 25
rank 31 : Chips and Roasted Chili Corn Salsa : 22
rank 32 : Izze : 20
rank 33 : Chips and Tomatillo-Red Chili Salsa : 20
rank 34 : Veggie Salad Bowl : 18
rank 35 : Chips and Roasted Chili-Corn Salsa : 18
rank 36 : Barbacoa Crispy Tacos : 11
rank 37 : Barbacoa Salad Bowl : 10
rank 38 : Chicken Salad : 9
rank 39 : Veggie Soft Tacos : 7
rank 40 : Carnitas Crispy Tacos : 7
rank 41 : Veggie Salad : 6
rank 42 : Carnitas Salad Bowl : 6
rank 43 : Burrito : 6
rank 44 : Steak Salad : 4
rank 45 : Crispy Tacos : 2
rank 46 : Salad : 2
rank 47 : Bowl : 2
rank 48 : Chips and Mild Fresh Tomato Salsa : 1
rank 49 : Veggie Crispy Tacos : 1
rank 50 : Carnitas Salad : 1

In [47]:
#주문당 평균 계산금액
df['item_price'] = df['item_price'].str.replace('$','').astype(float) # $ 제거, 실수화
df.groupby('order_id')['item_price'].mean()

order_id
1        2.890000
2       16.980000
3        6.335000
4       10.500000
5        6.850000
          ...
1830    11.500000
1831     4.300000
1832     6.600000
1833    11.750000
1834     9.583333
Name: item_price, Length: 1834, dtype: float64

In [ ]:
order_count = df.groupby

In [28]:
# item당 주문 총량 출력
## 이렇게 출력을 해야 정확한 갯수를 파악할 수 있다. value_count()와 값이 다를 수 있다.
df.groupby('item_name')['quantity'].sum().sort_values(ascending=False)

item_name
Chicken Bowl                             761
Chicken Burrito                          591
Chips and Guacamole                      506
Steak Burrito                            386
Canned Soft Drink                        351
Chips                                    230
Steak Bowl                               221
Bottled Water                            211
Chips and Fresh Tomato Salsa             130
Canned Soda                              126
Chicken Salad Bowl                       123
Chicken Soft Tacos                       120
Side of Chips                            110
Veggie Burrito                            97
Barbacoa Burrito                          91
Veggie Bowl                               87
Carnitas Bowl                             71
Barbacoa Bowl                             66
Carnitas Burrito                          60
Steak Soft Tacos                          56
6 Pack Soft Drink                         55
Chips and Tomatillo Red Chili Salsa       50
Chicken Crispy Tacos                      50
Chips and Tomatillo Green Chili Salsa     45
Carnitas Soft Tacos                       40
Steak Crispy Tacos                        36
Chips and Tomatillo-Green Chili Salsa     33
Steak Salad Bowl                          31
Nantucket Nectar                          29
Chips and Tomatillo-Red Chili Salsa       25
Barbacoa Soft Tacos                       25
Chips and Roasted Chili Corn Salsa        23
Izze                                      20
Veggie Salad Bowl                         18
Chips and Roasted Chili-Corn Salsa        18
Barbacoa Crispy Tacos                     12
Barbacoa Salad Bowl                       10
Chicken Salad                              9
Carnitas Crispy Tacos                      8
Veggie Soft Tacos                          8
Burrito                                    6
Veggie Salad                               6
Carnitas Salad Bowl                        6
Bowl                                       4
Steak Salad                                4
Salad                                      2
Crispy Tacos                               2
Chips and Mild Fresh Tomato Salsa          1
Carnitas Salad                             1
Veggie Crispy Tacos                        1
Name: quantity, dtype: int64

In [25]:
df['item_name'].value_counts()[0] # 첫번째에 위치한, 가장 큰값

C:\Users\KOREAVC\AppData\Local\Temp\ipykernel_18316\615108995.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  df['item_name'].value_counts()[0]

726

In [41]:
# 주문당 평균계산금액
df.groupby('order_id')['item_price'].sum()

order_id
1       11.56
2       16.98
3       12.67
4       21.00
5       13.70
        ...
1830    23.00
1831    12.90
1832    13.20
1833    23.50
1834    28.75
Name: item_price, Length: 1834, dtype: float64

In [ ]:
# 한 주문에 10달러 이상 사용한 order_id 출력
# order_id별로 주문금액을 더함
order_id_sum = df.groupby('order_id')['item_price'].sum()
#주문금액이 20달러가 넘는것들
df.groupby('order_id').sum()['item_price']>20
#order_id별로 주문금액을 더한것들 중에서 [20달러가 넘는것들]
order_id_sum[df.groupby('order_id').sum()['item_price']>20]
order_id_sum.loc[df.groupby('order_id').sum()['item_price']>20,['item_price']]

In [ ]:

import pandas as pd
filepath = '../z20_data/chipotle.tsv'
df = pd.read_csv(filepath,sep='\t')
df

In [ ]:
# 각 아이템별 가격을 구하시오
# 아이템별 주문갯수(quantity)가 1개인 것의 가격을 출력하시오.
df['quantity'] == 1
df_one_quantity = df[df['quantity'] == 1]
# 1개 주문시 추가없이 기본으로만 구매한 min가격
df_item_price = df_one_quantity.groupby('item_name').min().sort_values('item_price')
# 메뉴별 1개 주문금액
df_item_price['item_price']

In [108]:
import pandas as pd
filepath = '../z20_data/chipotle.tsv'
df = pd.read_csv(filepath,sep='\t')
df['item_price'] = df['item_price'].str.replace('$','').astype(float) # $ 제거, 실수화
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [89]:
## 가장 높은 주문금액에서 item이 총 몇개 팔렸는지
df_price_group = df.groupby('order_id').sum().sort_values('item_price',ascending=False)
df_price_group[['quantity','item_price']].head(5)

          quantity  item_price
order_id
926             23      205.25
1443            35      160.74
1483            14      139.00
691             11      118.25
1786            20      114.30

In [91]:
### 주문당 갯수가 가장 많은 상위 5개
df.groupby('order_id').sum().sort_values('quantity',ascending=False).head(5)

,quantity,item_name,choice_description,item_price
order_id,,,,
1443,35,Chips and Fresh Tomato SalsaBottled Water6 Pac...,"[Coke][Fresh Tomato Salsa, [Fajita Vegetables,...",160.74
926,23,Steak BurritoChicken BowlChicken BowlChicken B...,"[Fresh Tomato Salsa, [Rice, Sour Cream, Lettuc...",205.25
1786,20,Chicken BowlCarnitas BurritoChicken BowlChicke...,"[Fresh Tomato Salsa, Rice][Fresh Tomato Salsa,...",114.30
1660,19,Chicken BurritoChipsCanned Soft DrinkChicken B...,"[Fresh Tomato Salsa, Rice][Coke][Fresh Tomato ...",70.25
759,18,Chicken BowlCarnitas BowlChicken Soft TacosVeg...,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",86.30

In [ ]:
# veggie salad bowl 메뉴가 몇번 주문되었는지
df['item_name'].value_counts()
len(df[df['item_name'] =='Veggie Salad Bowl']['order_id'].unique()) # 중복확인 unique()
# 가격이 높은순으로 정렬
df[df['item_name'] =='Veggie Salad Bowl'].sort_values('item_price',ascending=False)

In [110]:
# Chicken Bowl 2개 이상 주문한 주문 횟수 출력
df['item_name'] =='Chicken Bowl' # 이름이 치킨볼이니?
df[df['item_name'] =='Chicken Bowl'].value_counts('quantity',ascending=False)
# df['quantity']((df[df['item_name'] =='Chicken Bowl'])>2)

quantity
1    693
2     31
3      2
Name: count, dtype: int64

In [112]:
filt = (df['item_name'] =='Chicken Bowl') & (df['quantity'] >= 2)
len(df[filt]) # 33

33

In [120]:
# 총 주문된 갯수
df[filt].sum()['quantity']

numpy.int64